*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #FF9999;
}

/*Heading*/

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #112D4E;
    padding: 2rem;
    margin: 1rem;
}

/*Content*/

img{
    width: 35rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 15%;
}

#text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 10px;
    color: #444F5A;
}

/*Controls*/

.controls{
    margin-top: 20px;
}

.btn{
    width: 20rem;
    margin: 8% 7%;
    padding: 0.8rem;
    font-size: 2rem;
}

#input{
    background: transparent;
    width: 44rem;
    padding: 0.8rem;
    margin: 6% 0 0 1%;
    font-size: 2rem;
}

/*Media Queries*/

@media (max-width: 1028px) {
    h1 {
      text-align: center;
      font-size: 3rem;
    }

    .add_text{
        width: 50rem;
    }
    
    img{
        width: 20rem;
    }

    .btn{
        width: 10rem;
    }

    #input{
        width: 27rem;
        text-align: left;
    }
  }

@media (max-width: 600px){

    h1{
        margin-bottom: 10px;
    }

    img{
        margin:auto;
    }

    p{
        font-size: 1rem;
        padding: 20px;
    }
    .btn{
        width: 20rem;
        margin: 15px 0;
        font-size: 1.5rem;
    }

    #input{
        margin-left: 2px;
        width: 20rem;
        font-size: 1.5rem;
    }
}